<div class="row">
    <div class="col-md-9 order-2 scrollable-column">
        <h1>Perros de la Calle</h1>
        <br>
        <div class="container">
            <%= image_tag('fulls/09.jpg', width: 400, height: 300)%>
        </div>
        
        <br>
        <br>
        <p>Reservoir Dogs (pronunciación en inglés: /ɹɛzəvwɑː dɑɡz/; conocida como Perros de reserva en México y Perros de la calle en otros países de Hispanoamérica) es una película estadounidense del año 1992 dirigida y escrita por Quentin Tarantino, siendo esta su debut como director.

            Está protagonizada por Harvey Keitel, Tim Roth, Chris Penn, Steve Buscemi, Lawrence Tierney y Michael Madsen. La actuación de Tarantino es de menor trascendencia, como también la del escritor exconvicto, Eddie Bunker. Reservoir Dogs incorpora muchos temas y estéticas que se transformarían y se darían a conocer como sellos propios de Tarantino, como director y guionista.
            
            Tarantino, quien en sus inicios trabajó como empleado en una tienda de vídeos en Los Ángeles, originalmente iba a filmar la película junto a sus amigos con un presupuesto de 30 000 dólares, un formato de 16 mm y el productor Lawrence Bender sería quien realizaría el papel de "Eddie Cabot".3​ Sin embargo, el actor Harvey Keitel se involucró en el proyecto por vía de la esposa del profesor de actuación de Bender, la cual entregó una copia del guion a Keitel,4​ quien estuvo no solo de acuerdo en tener un papel en la película, sino también en coproducirlo. Con la ayuda de Keitel, los realizadores fueron capaces de aumentar el presupuesto a 1,2 millones de dólares para la realización del filme,2​ demasiado extenso para una película realizada de forma independiente, pero una pequeña fracción de lo que sería una típica producción de Hollywood. La película desde entonces es vista como un importante y muy influyente hito del cine independiente.[cita requerida]
            
            La película española Distrito Quinto (1957) del director Julio Coll, anterior a esta, utilizaba el mismo clima claustrofóbico de unos atracadores reunidos en un local, tras el atraco realizado, que no sale en escena sino que se adivina por los diálogos y la utilización de retrospectivas (flashbacks) parciales, para montar la historia, con la sospecha añadida de que uno de ellos los traiciona.5​ Según Tarantino, con Reservoir Dogs buscaba conseguir un resultado similar al de Blood Simple (1984) de los hermanos Coen</p>

        <hr>
        

        <h3 id="argumento">Argumento</h3> <br>
        
        <p>Seis criminales profesionales son contratados por Joe Cabot (Lawrence Tierney) y su hijo Nice Guy Eddie (Chris Penn) para un trabajo. No se conocen entre sí y se mantienen en el anonimato, escondidos bajo nombres de colores: el señor Naranja (Tim Roth), el señor Blanco (Harvey Keitel), el señor Rosa (Steve Buscemi), el señor Rubio (Michael Madsen), el señor Marrón (Quentin Tarantino) y el señor Azul (Edward Bunker). Estratagema que ya fue utilizada anteriormente en Pelham 1 2 3. Preparan minuciosamente el robo a un almacén de diamantes, pero la policía aparece inesperadamente en el momento del atraco convirtiéndolo en una masacre que tiene como resultado las muertes de algunos policías, empleados y también del señor Azul y del señor Marrón. Todo hace sospechar que hay un traidor infiltrado. Reunidos a puerta cerrada en un viejo almacén abandonado, los supervivientes se enfrentan entre sí intentando descubrir quién les ha conducido a esta situación límite.

            La mayor parte de lo anterior no se muestra en la película sino que el espectador lo deduce de los diálogos y de flash-backs parciales que ilustran los antecedentes de la situación central. La película comienza en realidad con unos hombres desayunando en un bar donde comentan hechos banales.
            
            Cuando terminan los créditos iniciales, se muestra el interior de un coche. El Sr. Blanco lo está conduciendo y trata de tranquilizar al señor Naranja que se desangra en el asiento de atrás a causa de una herida en el estómago. Los dos llegan al punto de encuentro, ubicado en un almacén abandonado. Allí, el señor Naranja pierde el sentido.
            
            Aparece el señor Rosa. Ha escondido los diamantes robados porque sospecha que hay un policía infiltrado entre los ladrones. Tiene una confrontación con el señor Blanco, porque no están de acuerdo en qué hacer con el señor Naranja. El señor Blanco quiere llevarlo a un hospital, pero el señor Rosa no lo permite porque el señor Naranja sabe el nombre y la ciudad natal del señor Blanco y puede traicionarlos a todos.
            
            La llegada del señor Rubio interrumpe la disputa. Ha secuestrado a un policía y los tres pegan al rehén. Llega Eddie, enfadado a causa de la masacre que tuvo lugar en la joyería. Pide ayuda para tomar los diamantes escondidos. El señor Rosa y el señor Blanco salen con él.
            
            El señor Rubio sigue torturando al policía, que afirma su ignorancia acerca de quién es el policía infiltrado. El señor Rubio corta la oreja del rehén y decide quemarlo. En este momento, el señor Naranja mata al señor Rubio de varios disparos. Luego confiesa al policía su verdadera identidad, que este ya conoce. Se ha infiltrado en el grupo para atrapar a Joe Cabot. Fingió ser un delincuente despreocupado y venció la desconfianza de los otros ladrones con anécdotas inventadas. Durante el robo lo han herido y él ha matado a la mujer que lo ha hecho.
            
            Llegan Eddie, el señor Blanco y el señor Rosa. Al encontrar a su amigo, el señor Rubio, muerto, Eddie mata al policía. Exige explicaciones, y el señor Naranja sigue mintiendo. Dice que el señor Rubio quería matarlos a todos y obtener los diamantes. Nadie lo cree excepto el señor Blanco. Después llega Joe diciendo que el señor Naranja es un policía infiltrado y el señor Blanco se niega a creerlo.
            
            Se forma un triángulo mortal: Joe dirige su pistola al señor Naranja, el señor Blanco dirige la suya a Joe, Eddie dirige la suya al señor Blanco y el señor Rosa se esconde. Esta situación se resuelve con las muertes de Eddie y Joe. El señor Rosa coge los diamantes y huye.
            
            Mientras el señor Blanco, herido, se arrastra hasta el señor Naranja, moribundo. Lo conforta sosteniéndole en sus brazos. Entonces el señor Naranja confiesa la verdad. Durante esta tensa escena, si el espectador pone atención al ruido de fondo se puede escuchar como la policía logra detener al señor Rosa con los diamantes. Irrumpe la policía dentro del almacén. El señor Blanco, llorando, mata a su amigo y de inmediato muere acribillado por la policía.</p>

        <hr>
    

        <h3 id="reparto">Reparto</h3> <br>
        <p>Sr. Blanco (Harvey Keitel) <br>
            Sr. Naranja (Tim Roth) <br>
            Eddie Cabot (Chris Penn) <br>
            Joe Cabot (Lawrence Tierney) <br>
            Sr. Rosa (Steve Buscemi) <br>
            Sr. Rubio (Michael Madsen) <br>
            Sr. Azul (Edward Bunker) <br>
            Sr. Marrón (Quentin Tarantino) <br>
            Holdaway (Randy Brooks) <br>
            Marvin Nash (Kirk Baltz) <br>
            K-Billy DJ (Steven Wright) <br>
        </p>

        <hr>
    </div>
    <div id="tabla_contenido" class="col-md-3 order-1 align-self-start mt-4">
        <h3>Tabla de Contenido</h3>
        <ul class = "list">
            <li><%= link_to 'Argumento', '#argumento' %></li>
            <li><%= link_to 'Reparto', '#reparto' %></li>
            <br>
            <%= link_to "Volver al Inicio", "/" %>
        </ul>
    </div>

</div>