<div class="row">
    <div class="col-md-9 order-2 scrollable-column">
        <h1>El Silencio de los Inocentes</h1>
        <br>
        <div class="container">
            <%= image_tag('fulls/12.jpg', width: 400, height: 300)%>
        </div>
        
        <br>
        <br>
        <p>The Silence of the Lambs (El silencio de los corderos en España, y El silencio de los inocentes en Hispanoamérica) es una película estadounidense de 1991 de los géneros terror y suspenso psicológico. Fue dirigida por Jonathan Demme y presenta a Jodie Foster, Anthony Hopkins y Scott Glenn en los papeles principales. La película está basada en la novela homónima de Thomas Harris, escrita en 1988 como secuela de El dragón rojo (1981), del mismo autor, que relata la historia de Hannibal Lecter, un brillante psiquiatra y a la vez asesino en serie que practica el canibalismo.

            La cinta cuenta la historia de Clarice Starling, una joven detective en formación del FBI quien busca la ayuda del doctor Lecter con el objetivo de capturar a otro asesino en serie conocido como "Buffalo Bill".
            
            The Silence of the Lambs fue estrenada el 14 de febrero de 1991. Recaudó 272,7 millones de dólares en taquilla, en contraste con los 19 millones de su presupuesto inicial, convirtiéndola en una de las películas más exitosas del año. La cinta fue la tercera película en obtener los cinco premios principales de la Academia de Artes: Óscar a la mejor película, Óscar al mejor director (Jonathan Demme), Óscar al mejor actor (Anthony Hopkins), Óscar a la mejor actriz (Jodie Foster), y el Óscar al mejor guion adaptado (Ted Tally); hazaña que ya había sido lograda por It Happened One Night en 1934 y por One Flew Over the Cuckoo's Nest en 1975. Igualmente, es la primera y hasta la fecha única película de terror en hacerse con el Óscar a la mejor película, y la segunda en ser candidata, una hazaña que solo había sido emulada en 1973, cuando El exorcista fue candidata en la misma categoría. The Silence of the Lambs es considerada un logro «cultural, histórico y estético» por la Biblioteca del Congreso de Estados Unidos y la cinta original fue seleccionada para ser preservada en el National Film Registry en 2011.</p>

        <hr>
        

        <h3 id="argumento">Argumento</h3> <br>
        
        <p> Clarice Starling, una joven investigadora en formación del FBI, interrumpe su rutina de ejercicios en los bosques de Quantico, Virginia, al ser requerida por Jack Crawford, agente a cargo de la Unidad de Ciencias del Comportamiento. Starling es encargada de presentar un cuestionario al psiquiatra Hannibal Lecter, un asesino en serie y caníbal que se encuentra encarcelado.

            Starling se traslada al Hospital Estatal de Baltimore para Dementes Criminales, cuyo director es el Dr. Frederick Chilton. El motivo del encuentro es obtener información sobre el psicópata y asesino en serie apodado "Buffalo Bill", que mata a mujeres jóvenes y posteriormente les quita piel de sus cuerpos. Crawford cree que los conocimientos de Lecter pueden ayudar a capturar a "Bill", cuyo perfil psicológico e información Starling debe obtener mediante la colaboración de Lecter. Éste se muestra educado y cordial con Starling la mayor parte del tiempo, aunque a lo largo de la conversación le lanza repetidamente provocaciones relacionadas con su personalidad, valiéndose de una mezcla de palabras bien escogidas y expresiones faciales y corporales, hasta que Starling le devuelve lo que pretendía hacer en su contra, momento en que se rehúsa a ayudarla en el caso. Sin embargo, cuando Starling empieza a retirarse y Miggs, uno de los presos, le arroja su semen, Lecter le pide que regrese y le dice que intente localizar a una antiguo paciente suya, tras lo cual Starling abandona rápidamente el lugar. La pista de Lecter la conduce a un depósito donde descubre la cabeza de un hombre con un capullo de mariposa en la garganta. Starling regresa a Lecter, quien le dice que en realidad su paciente era un hombre relacionado con Buffalo Bill, y le propone darle un perfil del asesino con la condición de que se le transfiera lejos del doctor Chilton, al que detesta.
            
            En Memphis, Tennessee, Catherine Martin se dirige a su casa en su automóvil cuando es engañada y secuestrada por Buffalo Bill. Posteriormente, la quinta víctima de Bill es encontrada en el río Elk a la altura del condado de Clay, Virginia Occidental, y Starling participa en la autopsia con Crawford. La víctima ha sido salvajemente asesinada y le han retirado partes de la piel en forma de diamante. Al observar una foto de la boca, encuentran una crisálida dentro de la garganta. Starling lleva el insecto a unos entomólogos que la identifican como Acherontia styx, la mariposa cabeza de muerte, cuyo hábitat se limita a zonas de Asia. En el país cunde el pánico cuando por televisión se da la noticia de la desaparición de Catherine y su madre, la senadora Ruth Martin, le envía un mensaje al secuestrador.
            
            Starling vuelve con Hannibal Lecter y le ofrece un trato falso ideado por Crawford: si él le aporta información relevante para atrapar a Bill y rescatar a la chica, la senadora Martin transferirá a Lecter a una nueva institución donde podrá gozar de más libertad, de paseos en la playa y de una ventana con vista al exterior. Lecter, no obstante, le propone otro trato a Starling, un quid pro quo en el que ella deberá responder preguntas privadas y él le dará a cambio respuestas sobre Buffalo Bill.
            
            El trato es aceptado y Lecter comienza haciéndole preguntas a la agente sobre sus recuerdos de infancia y la muerte de su padre. A su vez, Hannibal le explica que Bill busca transformarse y es presa de una obsesión que le hace creer que es transexual, lo cual se refleja con la metamorfosis de la crisálida de mariposa. Después añade que Bill no nació criminal, sino que se convirtió en ello al sufrir años sistemáticos de abuso, y que la búsqueda de cambio se debe al odio que siente hacia sí mismo.
            
            Mientras tanto, el doctor Chilton ha escuchado en secreto la conversación entre Lecter y Starling. Chilton advierte a Lecter que la propuesta de Crawford es mentira y le ofrece una nueva: si revela la identidad de Buffalo Bill, será transferido a otro psiquiátrico, pero solo si Chilton obtiene créditos a cambio de ello. Lecter exige que únicamente proporcionará esa información a la senadora en persona, y Chilton acepta. Sin que el director lo advierta, Lecter ha conseguido apropiarse de su bolígrafo, que posteriormente utilizará.
            
            En el aeropuerto de Memphis, Lecter se entrevista con la senadora y la atormenta aprovechándose de su angustia. Revela un nombre falso de Buffalo Bill: "Louis Friend", que en realidad es un anagrama que nada significa y que Clarice descubre. Con esta nueva información, el FBI emprende de nuevo la búsqueda de Bill para salvar a Catherine.
            
            Al día siguiente, Starling y Lecter, quien ha sido reubicado en el Palacio de Justicia del condado de Shelby, Tennessee, mantienen una conversación en la que Starling le cuenta que una noche, en el rancho de los tíos a donde había ido a vivir después de la muerte de su padre, se levantó al oír gritos de los corderos destinados al matadero e intentó frustradamente salvar a uno. Hannibal le pregunta si aún sigue oyendo esos lamentos, y si cree que salvando a Catherine logrará acallarlos, lo que ella acepta. Chilton aparece para evitar que Lecter le aporte datos de Bill a Starling, quien es conducida hasta la salida.
            
            Esa misma noche, Lecter pide una segunda cena de chuletas de carnero casi crudas. Usando solo el clip del bolígrafo hurtado al doctor Chilton, que tiene camuflado en la mano, consigue abrir las esposas y escapar del psiquiátrico acabando con los dos oficiales encargados de vigilarlo y fingiendo ser uno de ellos vistiéndose con su uniforme y usando la piel de su cara a modo de máscara, simulando encontrarse herido y logrando así ser evacuado. Cuando el resto de policías se dan cuenta del engaño ya es demasiado tarde. Más tarde, Ardelia Mapp, la compañera de Starling, le informa que han encontrado la ambulancia en la que Lecter escapó, al personal médico muerto, y a un turista también asesinado a quien le ha robado. Sin embargo, Starling la tranquiliza, pues no teme que sea objetivo de Lecter. Siguiendo las recomendaciones de Lecter, Starling y Mapp deducen que deben redirigir la investigación hacia la primera víctima de Buffalo Bill.
            
            En consecuencia, Starling se traslada a Belvedere, Ohio, y visita la casa de la primera víctima de Buffalo Bill, Fredrica Bimmel, y se entera de que Bimmel era costurera. Las prendas del armario de la joven asesinada tienen parches idénticos a la piel arrancada de la última víctima de Bill hallada en el río Elk. Starling deduce que Bill busca transformarse cosiendo un vestido de mujer con piel humana. De inmediato telefonea a Crawford, quien le informa que la teoría de la transexualidad coincide con uno de los casos de cambio de sexo rechazados por el hospital Johns Hopkins: Jame Gumb, quien años antes había importado orugas vivas de Surinam por el aeropuerto de Los Ángeles y vive en Calumet City, Illinois, a las afueras de Chicago. Starling se ofrece a viajar a Chicago, pero Crawford le pide que vincule a Gumb con el caso Fredrica Bimmel, por lo que Clarice se queda en Belvedere interrogando a amigos de Bimmel.
            
            Stacy, una de las amigas de Fredrica Bimmel, le comenta a Starling que Bimmel trabajó para la señora Lippman. Al mismo tiempo que Crawford embosca la residencia de Gumb en Illinois encontrándola vacía, Starling llega a la casa de Lippman en Belvedere, Ohio. La recibe el propio Jame Gumb, quien le dice llamarse Jack Gordon. Starling entra en la casa y ve una esfinge de la calavera africana volar y posarse sobre uno de múltiples ovillos de hilo de costura; en ese instante comprende que ha dado con el psicópata. Entonces le pide usar su teléfono y, cuando éste da muestras de haber sido descubierto, Starling saca su arma e intenta arrestarlo. Bill, sin embargo, consigue huir hacia el sótano de múltiples habitaciones de la vivienda. Al perseguirlo, Starling encuentra a Catherine encerrada en un pozo abierto. Mientras Clarice busca a Bill en el sótano, las luces se apagan y la dejan sumida en la oscuridad. Gumb, valiéndose de unas gafas de visión nocturna, sigue a Starling y engatilla su revólver. Al oír el sonido del percutor del arma, Starling se vuelve rápidamente y dispara a Gumb, que cae muerto. Finalmente, Starling rescata a Catherine y llama al FBI.
            
            Durante su graduación de honor como agente especial de la Academia del FBI, Starling recibe una llamada telefónica de Lecter, quien quiere saber si los corderos han dejado de gritar. Clarice trata de averiguar dónde se encuentra Lecter, pero este le dice que no se preocupe, pues el mundo es más interesante con ella en él, y que le agradecería ser correspondido de igual forma, pero Starling se niega. Lecter se despide diciendo que va a "cenar" a lo de un viejo amigo y cuelga. Finalmente, se muestra a Lecter en un país afroantillano al que acaba de llegar en avión el doctor Chilton, quien angustiado pide medidas de seguridad al policía que lo recibe, al tiempo que Lecter empieza a caminar lentamente detrás de él, a cierta distancia.
            
            Reparto </p>

        <hr>
    

        <h3 id="reparto">Reparto</h3> <br>
        <p> Clarice Starling - Jodie Foster	<br>
            Hannibal Lecter - Anthony Hopkins	<br>
            Jack Crawford - Scott Glenn	<br>
            Dr. Chilton - Anthony Heald	<br>
            Jame Gumb/Buffalo Bill - Ted Levine <br>	
            Barney Matthews - Frankie Faison <br>
            Catherine Martin - Brooke Smith	<br>
            Senadora Ruth Martin - Diane Baker	<br>
            Ardelia Mapp - Kasi Lemmons	<br>
            Teniente Boyle - Charles Napier	<br>
            Sargento Tate - Danny Darst	<br>
            Sargento Jim Pembry - Alex Coleman	<br>
            Roden - Dan Butler	<br>
            Pilcher - Paul Lazar	<br>
            Agente del FBI en Memphis - George A. Romero <br>	
            </p>

        <hr>
    </div>
    <div id="tabla_contenido" class="col-md-3 order-1 align-self-start mt-4">
        <h3>Tabla de Contenido</h3>
        <ul class = "list">
            <li><%= link_to 'Argumento', '#argumento' %></li>
            <li><%= link_to 'Reparto', '#reparto' %></li>       
            <br>
            <%= link_to "Volver al Inicio", "/" %>    
        </ul>
    </div>

</div>